.add-to-cart-btn {
  background-color: #28a745;       /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  width: 100%;
}

.add-to-favorites-btn{
background-color: #f09f62;       /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  width: 100%;




}
.remove-from-favorites-btn{
background-color: #e24a4a;       /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  width: 100%;




}

.add-to-cart-btn:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.add-to-cart-btn:active {
  background-color: #1e7e34;
  transform: translateY(1px);
}
